.text {
  display: block;
  color: inherit;
  margin: 0;
  word-wrap: break-word;
  text-align: left;

  &_align-right {
    text-align: right;
  }

  &_align-center {
    text-align: center;
  }

  &_inline {
    display: inline-flex;
  }
}

.h1 {
  font-size: 120px;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.05em;
  word-break: break-word;

  @mixin smaller-than $breakpoint-xl {
    font-size: 64px;
  }

  @mixin smaller-than $breakpoint-md {
    font-size: 10vw;
  }
}

.h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.05em;
  word-break: break-word;

  @mixin smaller-than $breakpoint-xl {
    font-size: 46px;
  }

  @mixin smaller-than $breakpoint-lg {
    font-size: 38px;
  }
}

.h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.05em;
  word-break: break-word;

  @mixin smaller-than $breakpoint-xl {
    font-size: 32px;
  }

  @mixin smaller-than $breakpoint-lg {
    font-size: 28px;
  }
}

.p1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
  word-break: break-word;

  @mixin smaller-than $breakpoint-xl {
    font-size: 24px;
  }

  @mixin smaller-than $breakpoint-lg {
    font-size: 20px;
  }
}

.p2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  word-break: break-word;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: underline;
  word-break: break-word;
}

.label {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  word-break: break-word;

  @mixin smaller-than $breakpoint-lg {
    font-size: 16px;
  }
}

.caption {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  word-break: break-word;

  @mixin smaller-than $breakpoint-lg {
    font-size: 16px;
  }
}

.default {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  word-break: break-word;
}

.nested-text {
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &:first-child,
    &:first-of-type {
      margin-top: 0;
    }

    &:last-child,
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
