.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 12px;
  gap: 8px;
}

.dropzone {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 200px;

  &_active {
    border: rem(1px) dashed var(--mantine-primary-color-filled);
    border-radius: var(--mantine-radius-default);
  }
}
