.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.process {
  cursor: pointer;
  padding: rem(4px) rem(8px);
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover {
    background-color: var(--mantine-color-blue-0);

    [data-mantine-color-scheme='dark'] & {
      background-color: rgba(24, 100, 171, 0.45);
    }
  }

  &.active {
    background-color: var(--mantine-color-blue-0);

    [data-mantine-color-scheme='dark'] & {
      background-color: rgba(24, 100, 171, 0.45);
    }
  }
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-wrapper {
  flex-shrink: 0;
}

.toolbar {
  display: flex;
  align-items: center;
}

.title {
  padding: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
