.button {
  align-items: center;
  text-align: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  transition:
    border 150ms linear,
    background-color 150ms linear,
    border-color 150ms linear,
    background-color 150ms linear,
    opacity 150ms linear;
  width: auto;
  /* appearance added for fixing Safari link button border bug */
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  svg:not(:only-child) {
    margin-right: 16px;
  }

  &_fluid {
    width: 100%;
  }

  &_sm {
    height: 30px;
    padding: 4px 12px;
  }

  &_md {
    height: 40px;
    padding: 8px 16px;
  }

  &_lg {
    height: 46px;
    padding: 16px 24px;
  }

  &_primary {
    background-color: var(--text-color);
    color: var(--primary-color);
    border: 0;

    &:not(&:disabled) {
      &:hover {
        opacity: 0.75;
      }
    }
  }

  &_secondary {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);

    :not(:disabled) {
      :hover {
        opacity: 0.75;
      }
    }
  }

  &_tertiary {
    background-color: var(--accent-color);
    color: var(--text-color);
    border: 0;

    :not(:disabled) {
      :hover {
        opacity: 0.75;
      }
    }
  }

  &_inverted {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 0;

    :not(:disabled) {
      :hover {
        opacity: 0.75;
      }
    }
  }

  &_unstyled {
  }

  &_icon {
    border: 0;
    color: #fff;
    padding: 0;
    height: auto;

    :not(:disabled) {
      :hover {
        opacity: 0.75;
      }

      :active {
        opacity: 0.75;
      }
    }
  }
}

.content {
  display: flex;
  align-items: center;
  color: inherit;
}
