.wrapper {
  padding-right: 12px;
  border-right: 1px solid var(--separator-border);
}

.group {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 8px;
    max-width: 180px;
  }
}
